* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    height: 100vh;
    overflow: hidden; /* NO SCROLL */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: white;
}

/* Center area */
.container {
    width: 100%;
    height: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

/* Camera area */
.video-wrapper {
    position: relative;
    width: 90vw;
    max-width: 600px;
    aspect-ratio: 4/3;

    display: flex;
    justify-content: center;
    align-items: center;
}

video, canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transform: scaleX(-1); /* TRUE MIRROR */
}

#result {
    margin-top: 15px;
    font-size: 1.6rem;
    background: rgba(255,255,255,0.1);
    padding: 10px 25px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
}
